.table-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  height: 600px; /* Set a fixed height for the table container */
  overflow-x: auto;
  overflow-y: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fg-table { 
  height: 100%; 
  border-collapse: collapse;
  margin-top: 20px;
  
}

.fg-table th,
.fg-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  white-space: nowrap;
  
}

.fg-table th {
  background-color: #f4f4f4;
 position: sticky;
}

.fg-table td{
  width: fit-content;
}


.fg-table tr:nth-child(even) {
  background-color: rgba(95, 65, 228, 0.6);
}

.fg-table tr:hover {
  background-color: #e0e0e0;
}

.fg-table td {
  font-size: 14px;
}

@media (max-width: 768px) {
  .fg-table th,
  .fg-table td {
    padding: 8px;
    font-size: 12px;
  }
}