.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.scanner-container {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
}

.scanner-container video {
  border-radius: 8px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}

button:hover {
  background-color: #0056b3;
}

.close-scanner-btn {
  background-color: #dc3545;
}

.close-scanner-btn:hover {
  background-color: #a71d2a;
}


@media (max-width: 768px) {
  .scanner-container {
    width: 75%;
    max-width: none;
    
  }

  button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }


}

@media (max-width: 480px) {
  .scanner-container {
    width: 95%;
    max-width: none;
    
  } 

  button {
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}